{% extends "base.html" %}

{% block script %}
<script src="/static/js/photobooth.js"></script>

<script>
  window.setInterval(function() {
    getLatestPhotoSet();
    if (PHOTOS.length > 0) {
      LAST_INDEX = updatePhoto(LAST_INDEX);
    }
  }, 10000);
</script>

<style>
  body {
    background-color: #111;
  }
</style>
{% endblock %}

{% block body %}
<div class="row">
  <p><small class="pull-right"><a href="/photobooth/all">All Photos</a></small></p>
</div>

<img id="carousel" class="carousel"
  src="https://c2.staticflickr.com/2/1475/24419013056_6122c991be_c.jpg"/>


<div class="description">
  <p><small class="pull-right" id="time">Sunday 12:09 PM</small></p>
  <h3 id="caption" class="word-break">Millcreek Gothic</h3>
</div>
{% endblock %}
