{% extends "base.html" %}

{% block body %}
<form class="pad" action="/" enctype="multipart/form-data" method="post">
  <div class="row pad">
    <div class="col-xs-2"></div>
    <div class="col-xs-5 form-group">
      <label for="file-upload">Photo Upload</label>
      <input type="file" id="file-upload" name="file-upload" required="required">
    </div>
  </div>

  <div class="row pad">
    <div class="col-xs-2"></div>
    <div class="col-xs-5 form-group">
      <label for="title">Caption</label>
      <input type="text" class="form-control" id="caption" name="caption" placeholder="Add a caption">
    </div>
  </div>

  <div class="row pad">
    <div class="col-xs-2"></div>
    <div class="col-xs-5">
      <button type="submit" class="btn btn-default">Post</button>
    </div>
  </div>
</form>

<div class="pad"></div>

<div class="row pad">
  <div class="col-xs-2"></div>
  <div class="col-xs-5">
    <p>
      Upload a photo to add it to the slideshow!
    </p>
  </div>
</div>

<div class="pad"></div>

<small class="pull-right">By: <a href="http://samolds.com">Sam Olds</a></small>
{% endblock %}
