{% extends "base.html" %}

{% block body %}
<p><small class="pull-right">View <a href="/photobooth/all">all uploads</a></small></p>
<form class="pad" action="/" enctype="multipart/form-data" method="post">
  <div class="row pad large">
    <div class="col-xs-12 form-group form-group-lg">
      <label for="file-upload" class="control-label">Photo Upload</label>
      <input type="file" class="form-control input-lg" id="file-upload" name="file-upload" required="required">
    </div>
  </div>

  <div class="row pad large">
    <div class="col-xs-12 form-group form-group-lg">
      <label for="title" class="control-label">Caption</label>
      <input type="text" class="form-control input-lg" id="caption" name="caption" placeholder="Add a caption">
    </div>
  </div>

  <div class="row pad large">
    <div class="col-xs-12 form-group form-group-lg">
      <button type="submit" class="btn btn-default btn-lg">Post</button>
      <div class="pad"></div>
      <p>
        Upload a photo to add it to the slideshow!
      </p>
    </div>
  </div>
</form>

<div class="pad"></div>

<p><small class="pull-right">By: <a href="http://samolds.com">Sam Olds</a></small></p>
{% endblock %}
